@page
@model WEB.Pages.Sporturi.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sport.NumeSport" class="control-label"></label>
                <input asp-for="Sport.NumeSport" class="form-control" />
                <span asp-validation-for="Sport.NumeSport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sport.InstructorID" class="control-label"></label>
                <select asp-for="Sport.InstructorID" class="form-control" asp-items="ViewBag.InstructorID"></select>
                <span asp-validation-for="Sport.InstructorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sport.Pret" class="control-label"></label>
                <input asp-for="Sport.Pret" class="form-control" />
                <span asp-validation-for="Sport.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sport.LocatieID" class="control-label"></label>
                <select asp-for="Sport.LocatieID" class="form-control" asp-items="ViewBag.LocatieID"></select>
                <span asp-validation-for="Sport.LocatieID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sport.Durata" class="control-label"></label>
                <input asp-for="Sport.Durata" class="form-control" />
                <span asp-validation-for="Sport.Durata" class="text-danger"></span>
            </div>

          <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                        @{
                                int cnt = 0;
                                foreach (var cat in Model.CategorieAtribuitaLista)
                                {
                                     if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                        @:<td>
                                            <input type="checkbox"
                                                   name="categorieSelectata"
                                                   value="@cat.CategorieID"
                                                   @(Html.Raw(cat.Atribut ? "checked=\"checked\"" : "")) />
                                                   @cat.CategorieID@: @cat.Nume
                                        @:</td>
                                }
                        @:</tr>
                        }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
